.main-container {
  display: block;
  height: 700px;
  width: 100%;
  background-color: #fff;
}
.productTwo-container {
  display: block;
  height: 550px;
  width: 100%;
  background-color: #fff;
}
.productThree-container {
  display: block;
  height: 550px;
  width: 100%;
  background-color: #fff;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 60px;
}
.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cart-icons {
  display: flex;
}
.cart-icons img {
  display: flex;
  justify-content: flex-end;
  width: 24px;
  height: 21px;
  margin-right: 20px;
  flex-shrink: 0;
}

ul li {
  padding: 0.75rem;
  list-style: none;
}

#products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 330px;
  height: 448px;
  background: #f3f3f3;
}
.cart {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.cart img {
  display: flex;
  justify-content: flex-end;
  width: 24px;
  height: 21px;
}

.image_detail,
.product-price,
.product-name,
.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
}

.image_detail img {
  width: 204px;
  height: 204px;
}

.prod-btn {
  display: inline-flex;
  padding: 10px 52px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  cursor: pointer;
}
